body{
display: flex;
align-items: center;
justify-content: center;
background-image: url("https://images.pexels.com/photos/176851/pexels-photo-176851.jpeg?cs=srgb&dl=pexels-instawally-176851.jpg&fm=jpg");
background-size: 100rem;
box-sizing: border-box;


}
.case{
    display: flex;
    background-image: url('https://pbs.twimg.com/media/DNK9s25VwAAO57m.png');
    background-size: 55rem ;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 40rem;
    width: 18rem;
    flex-direction: column;
    align-items: center;
    /* border: 2px solid yellow; */

}

.display{
    color:rgb(251, 251, 251);
    min-height: 10rem;
    display: flex;
    width: 18rem;
    /* border: 1px solid lightblue; */

}
.result{
    padding: 1rem;
    font-size: 3rem;
    width: 18rem;
    height: 15rem;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    word-break: break-all;
    /* border: 1px solid pink; */



}
.keyboard{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    /* border: 1px solid lightcoral; */
    margin-top: 2rem;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}
.buttons{
    width: 1.5em;
    height: 1.5em; 
    border-radius: 50%;
    color: aliceblue;
    font-size: 2rem;
    border-style: none;

}

.new{
    display: flex;
    align-items: center;
    justify-content: center;
}
.operators,.equal,.ac,.new{
    background-color: rgb(252, 136, 47);
}
.operators:active,.new:active{
    background-color: rgb(250, 158, 88);
}
.numbers,.dot{
    background-color: rgb(58, 58, 58);
}
.numbers:active,.dot:active{
    background-color: rgb(113, 112, 112);
}
.long{
    width: 3.5em;
    border-radius: 20%;
}

button:focus {
    outline: none;
    box-shadow: none;
  }