body{
display: flex;
align-items: center;
justify-content: center;
background-image: url("https://forum.chickeninvaders.com/uploads/db1091/01ac9cfb9dea179235f9364b43d5106f0547605a");

}
.case{
    display: flex;
    background-color: black;
    height: 600px;
    width: 300px;
    flex-direction: column;
    border-radius: 12%;
}

.display{
    color:rgb(251, 251, 251);
    height: 250px;
    display: flex;
    width: 300px;

}
.result{
    padding: 20px;
    font-size: 60px;
    width: 300px;
    height: 200px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    word-break: break-all;



}
.keyboard{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    align-items: center;
    justify-content: center;
    gap: 5px;
}
.buttons{
    width: 65px;
    height: 65px; 
    border-radius: 50%;
    color: aliceblue;
    font-size: 30px;
    border-style: none;
}

.new{
    display: flex;
    align-items: center;
    justify-content: center;
}
.operators,.equal,.ac,.new{
    background-color: rgb(252, 136, 47);
}
.operators:active,.new:active{
    background-color: rgb(250, 158, 88);
}
.numbers,.dot{
    background-color: rgb(58, 58, 58);
}
.numbers:active,.dot:active{
    background-color: rgb(113, 112, 112);
}
.long{
    width: 120px;
    border-radius: 20%;
}