body{
display: flex;
align-items: center;
justify-content: center;
background-image: url("https://images.pexels.com/photos/176851/pexels-photo-176851.jpeg?cs=srgb&dl=pexels-instawally-176851.jpg&fm=jpg");
background-size: 1980px 1080px;


}
.case{
    display: flex;
    background-image: url('iphone.png');
    background-size: 300px 600px ;
    height: 600px;
    width: 300px;
    flex-direction: column;
    align-items: center;

}

.display{
    color:rgb(251, 251, 251);
    height: 250px;
    display: flex;
    width: 300px;

}
.result{
    padding: 20px;
    font-size: 60px;
    width: 300px;
    height: 200px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    word-break: break-all;



}
.keyboard{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    align-items: center;
    justify-content: center;
    gap: 5px;
    width:250px;
    height: 250px;
}
.buttons{
    width: 1.6em;
    height: 1.6em; 
    border-radius: 50%;
    color: aliceblue;
    font-size: 30px;
    border-style: none;
}

.new{
    display: flex;
    align-items: center;
    justify-content: center;
}
.operators,.equal,.ac,.new{
    background-color: rgb(252, 136, 47);
}
.operators:active,.new:active{
    background-color: rgb(250, 158, 88);
}
.numbers,.dot{
    background-color: rgb(58, 58, 58);
}
.numbers:active,.dot:active{
    background-color: rgb(113, 112, 112);
}
.long{
    width: 4em;
    border-radius: 20%;
}

button:focus {
    outline: none;
    box-shadow: none;
  }